.sidebar {
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;
  overflow-x: hidden;
  white-space: nowrap;
  min-height: 400px;

  .logo {
    display: flex;
    gap: 1rem;
    align-items: center;
    color: var(--white-00);
    margin-bottom: 4rem;
  }

  h3 {
    color: var(--white-00);
  }

  nav {
    border: 1px solid var(--white-00);
    border-radius: 5px;
  }

  nav ul {
    li {
      position: relative;

      ul {
        transform: scaleY(0);
        transform-origin: top;
        transition: transform 0.3s ease;
        overflow: hidden;
        max-height: 0;
      }

      &.is-expanded ul {
        transform: scaleY(1);
        max-height: 100%;
      }

      a {
        display: flex;
        align-items: center;

        padding: 15px 20px;
        color: var(--gray-100);
        transition: all 0.1s ease;

        span {
          font-size: 1.1rem;
        }
        i {
          font-size: 1.1rem;
          min-width: 20px;
          margin-right: 10px;

          &:last-child {
            margin-left: auto;
            transition: transform 0.3s ease;
          }
        }

        &:hover {
          background: var(--blue-00);
        }
      }
    }
  }
}
